$rosewater: #f4dbd6;
$flamingo: #f0c6c6;
$pink: #f5bde6;
$mauve: #c6a0f6;
$red: #ed8796;
$maroon: #ee99a0;
$peach: #f5a97f;
$yellow: #eed49f;
$green: #a6da95;
$teal: #8bd5ca;
$sky: #91d7e3;
$sapphire: #7dc4e4;
$blue: #8aadf4;
$lavender: #b7bdf8;
$text: #cad3f5;
$subtext1: #b8c0e0;
$subtext0: #a5adcb;
$overlay2: #939ab7;
$overlay1: #8087a2;
$overlay0: #6e738d;
$surface2: #5b6078;
$surface1: #494d64;
$surface0: #363a4f;
$base: #24273a;
$mantle: #1e2030;
$crust: #181926;

@font-face {
  font-family: "Overused Grotesk";
  src:
    url("../fonts/OverusedGrotesk-VF.woff2") format("woff2 supports variations"),
    url("../fonts/OverusedGrotesk-VF.woff2") format("woff2-variations");
  font-weight: 300 900;
}

*,
html,
body {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  background: $crust;
  font-family: "Inter";
  color: $text;
}

body {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: $mantle;
  padding: 5px 20px;
  margin-top: 20px;
  border-radius: 10px;

  @media (max-width: 740px) {
    max-width: 100%;
    border-radius: 0;
    margin-top: 0;
  }
}

h1,
h2 {
  font-family: "Overused Grotesk";
  color: $sky;
}

pre, code {
  font-family: JetBrains Mono, Menlo, monospace;
  overflow: scroll;
}

p {
  line-height: 1.5;

  code {
    background-color: $crust;
    padding: 2px 5px;
    border-radius: 5px;
  }
}

#code > pre {
  padding: 10px!important;
  border-radius: 5px;
}

hr {
  border: 1px solid $overlay0;
  margin: 20px 0;
}

a {
  color: $blue;
  text-decoration: none;
  border: 2px solid $blue + A0;
  border-radius: 5px;
  transition: border 0.2s, transform 0.2s;
  padding: 0 4px;
  display: inline-block;

  &:hover {
    border-color: $blue;
    transform: skewX(-5deg) scale(1.025);
  }
}

label {
  display: block;
  font-style: italic;
  color: $subtext0;
  font-size: 0.8em;
}

input[type="text"], textarea {
  display: block;
  background: $base;
  color: $text;
  border: 1px solid $surface0;

  &:focus {
    border-color: $blue;
    outline: none;
  }
}
pre.no-js {
  background-color: $base;
  color: $text;
  padding: 10px;
  border-radius: 5px;
}

.orange {
  color: $peach;
}